<div class="container">
      <div class="kanban-heading">
          <strong class="kanban-heading-text">Kanban Board</strong>
      </div>
      <div class="kanban-board">
          <div id="todo">To Do</div>
          <div id="inprogress">In Progress</div>
          <div id="done">Done</div>
      </div>
  </div>

<!-- <div class="control-section e-tab-section">
  <div class="e-sample-resize-container">
    <ejs-tab id="element">
      <e-tabitems>
        <e-tabitem>
          <ng-template #headerText>
            <div>KanBan</div>
          </ng-template>
          <ng-template #content>
            <ejs-kanban keyField='Status' [dataSource]='data' [cardSettings]='cardSettings'>
              <e-columns>
                <e-column headerText='To Do' keyField='ToDo' allowToggle='true'></e-column>
                <e-column headerText='In Progress' keyField='InProgress' allowToggle='true'></e-column>
                <e-column headerText='Completed' keyField='Completed' allowToggle='true'></e-column>
              </e-columns>
            </ejs-kanban>
          </ng-template>
        </e-tabitem>
      </e-tabitems>
    </ejs-tab>
  </div>
</div> -->

