<div class="sidebar-container d-flex flex-column">
  <div class="upper-part p-2 d-flex flex-column">
    <h1 class="font-weight-bold">
      <span style="color: green">TASK</span>
      <span>IT</span>
    </h1>
    <button class="btn btn-success sidebar-button">Task List</button>
    <button class="btn btn-success sidebar-button">Kanban</button>
    <button class="btn btn-success sidebar-button">I'm Bored</button>
  </div>
  <div class="user-container border border-end-0 d-flex flex-row mt-auto">
      <img
        src="./assets/img/freckles250x250.jpg"
        alt="Round Profile Picture"
        class="profile-picture"
      />
    <div class="user-details d-flex flex-column">
      <span class="name">Not Me</span>
      <span class="email">notme&#64;fakeemail.com</span>
    </div>
      <img
        src="./assets/img/loginicon.svg"
        alt="login icon"
        class="login-icon"
      />
  </div>
</div>
